<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Warn" internalLogFile="internal-nlog.txt">
    <!--define various log targets-->
    <targets>
        <target xsi:type="File" name="ErrorLog" fileName="Log/Error/${shortdate}.log" layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
        <target xsi:type="File" name="InfoLog" fileName="Log/Info/${shortdate}.log" layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
        <target xsi:type="File" name="WarningLog" fileName="Log/Warn/${shortdate}.log" layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Error" writeTo="ErrorLog" final="true" />
        <logger name="*" minlevel="Warn" writeTo="WarningLog" final="true" />
        <logger name="*" minlevel="Info" writeTo="InfoLog" final="true"/>  
    </rules>
</nlog>